body {
    background-color: white;
}

input {
    height: 40px;
    width: 300px;
    font-size: 28px;
    font-family: monospace;
    letter-spacing: 0.5em;
}


textarea {
    width: 800px;
    height: 300px;
}